ul {
    list-style: none;
}

.projects-list {
    padding: 10px;
}

.projects-list h2 {
    background-color: lightsalmon;
    padding: 5px 10px;
    margin: 0px;
}

.projects-list ul {
    padding: 0px;
    margin: 0px;
    border: 1px solid #ddd;
    min-height: 30px;
}

.projects-list li {
    padding: 1.5rem;
    box-shadow: 0px 0px 3px 2px #ddd;
    background-color: white;
    margin: 1rem;
}

.projects-list li h4 {
    font-size: 18px;
}

.droppable {
    background-color: red;
}
